In [1]:
import numpy as np
import pandas as pd
pd.options.display.precision = 2
pd.options.display.max_columns = 50

In [2]:
!pwd
import re
import os

/Users/shijunyi/Desktop/学习资料/U of Melbourne/2019 Sem2/Data Science Project/code/python

In [3]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = [15, 10]

In [4]:
#import seaborn as sns
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

# United Kingdom

## Read data

In [5]:
aus_factors_df = pd.read_csv('data/uk_combined_factors.csv')

In [6]:
aus_factors_df

,year,source_country,destination_country,dst_distance,dst_students_count,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment
0,2015,China,United Kingdom,7775,91518,44126.0,0.65,110.96,3,9,21,37,1371220000,0,0,10,44,7910.0,1.10e+13,6.23,45.35
1,2016,China,United Kingdom,7775,89318,44466.0,0.74,112.08,3,8,21,37,1378665000,0,2,12,54,8210.0,1.11e+13,6.64,48.44
2,2014,China,United Kingdom,7775,86204,43782.0,0.61,110.55,3,8,20,38,1364270000,0,0,9,44,7500.0,1.04e+13,6.14,41.28
3,2013,China,United Kingdom,7775,81776,44141.0,0.64,108.97,2,9,19,37,1357380000,0,0,7,42,6770.0,9.57e+12,6.20,31.46
4,2012,China,United Kingdom,7775,76913,44007.0,0.63,106.53,2,9,19,38,1350695000,0,0,7,42,5930.0,8.53e+12,6.31,28.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2009,Indonesia,United Kingdom,11758,1029,45455.0,0.64,97.57,2,11,23,40,238620563,0,0,0,0,2150.0,5.40e+11,10389.94,22.38
72,2000,Indonesia,United Kingdom,11758,1028,38908.0,0.66,81.47,1,13,20,43,211513823,0,0,0,0,580.0,1.65e+11,8421.77,14.88
73,2008,Indonesia,United Kingdom,11758,924,44679.0,0.54,95.69,2,11,22,42,235469762,0,0,0,0,1940.0,5.10e+11,9698.96,20.43
74,2003,Indonesia,United Kingdom,11758,899,42652.0,0.61,85.13,1,14,20,42,220309469,0,0,0,0,900.0,2.35e+11,8577.13,16.03
75,2002,Indonesia,United Kingdom,11758,891,41517.0,0.67,83.97,1,13,20,42,217357793,0,0,0,0,790.0,1.96e+11,9311.19,14.81

## Calculate correlation

### China

In [7]:
china_aus_factors = aus_factors_df[aus_factors_df['source_country']=='China']
cols = china_aus_factors.columns
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(1), rsuffix='_1y_shift')
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [8]:
china_corr_series = china_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = pd.DataFrame(china_corr_series).rename(columns={'dst_students_count': 'china_student_count'}).T

In [9]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.97,0.0,0.7,0.06,0.95,0.83,-0.92,-7.12e-03,-0.89,0.97,0.0,0.34,0.89,0.96,0.92,0.92,-0.85,0.94,0.94,0.0,0.99,0.67,0.04,0.92,0.9,...,0.9,0.93,0.9,0.9,-0.81,0.94,0.89,0.0,0.96,0.6,0.03,0.86,0.89,-0.92,-0.08,-0.81,0.89,0.0,0.37,0.89,0.86,0.86,0.85,-0.72,0.91

### India

In [10]:
india_aus_factors = aus_factors_df[aus_factors_df['source_country']=='India']
cols = india_aus_factors.columns
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(1), rsuffix='_1y_shift')
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [11]:
india_corr_series = india_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(india_corr_series).rename(columns={'dst_students_count': 'India_student_count'}).T)

In [12]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.97,0.0,0.70,0.06,0.95,0.83,-0.92,-7.12e-03,-0.89,0.97,0.0,0.34,0.89,0.96,0.92,0.92,-0.85,0.94,0.94,0.0,0.99,0.67,0.04,0.92,0.90,...,0.9,0.93,0.90,0.90,-0.81,0.94,0.89,0.0,0.96,0.60,0.03,0.86,0.89,-0.92,-0.08,-0.81,0.89,0.0,0.37,0.89,0.86,0.86,0.85,-7.24e-01,0.91
India_student_count,0.69,0.0,0.82,-0.15,0.65,0.57,-0.54,1.11e-01,-0.66,0.71,0.0,0.00,0.00,-0.68,0.68,0.68,0.12,0.59,0.65,0.0,0.99,0.79,-0.18,0.62,0.64,...,0.0,-0.70,0.65,0.66,0.04,0.55,0.61,0.0,0.97,0.74,-0.19,0.60,0.59,-0.51,0.12,-0.58,0.64,0.0,0.00,0.00,-0.71,0.63,0.63,-5.33e-03,0.52

### Malaysia

In [13]:
malay_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Malaysia']
cols = malay_aus_factors.columns
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(1), rsuffix='_1y_shift')
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [14]:
malay_corr_series = malay_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(malay_corr_series).rename(columns={'dst_students_count': 'malaysia_student_count'}).T)

In [15]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.97,0.0,0.70,0.06,0.95,0.83,-0.92,-7.12e-03,-0.89,0.97,0.0,0.34,0.89,0.96,0.92,0.92,-0.85,0.94,0.94,0.0,0.99,0.67,0.04,0.92,0.90,...,0.9,0.93,0.90,0.90,-0.81,0.94,0.89,0.0,0.96,0.60,0.03,0.86,0.89,-0.92,-0.08,-0.81,0.89,0.0,0.37,0.89,0.86,0.86,0.85,-7.24e-01,0.91
India_student_count,0.69,0.0,0.82,-0.15,0.65,0.57,-0.54,1.11e-01,-0.66,0.71,0.0,0.00,0.00,-0.68,0.68,0.68,0.12,0.59,0.65,0.0,0.99,0.79,-0.18,0.62,0.64,...,0.0,-0.70,0.65,0.66,0.04,0.55,0.61,0.0,0.97,0.74,-0.19,0.60,0.59,-0.51,0.12,-0.58,0.64,0.0,0.00,0.00,-0.71,0.63,0.63,-5.33e-03,0.52
malaysia_student_count,0.50,0.0,0.29,0.19,0.55,0.73,-0.68,8.11e-02,-0.45,0.48,0.0,0.00,0.00,0.71,0.56,0.49,0.13,0.48,0.40,0.0,0.97,0.23,0.29,0.45,0.63,...,0.0,0.64,0.44,0.37,0.22,0.40,0.37,0.0,0.91,0.17,0.48,0.43,0.56,-0.57,0.04,-0.35,0.34,0.0,0.00,0.00,0.65,0.41,0.35,2.02e-01,0.37

### Indonesia

In [16]:
indonesia_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Indonesia']
cols = indonesia_aus_factors.columns
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(1), rsuffix='_1y_shift')
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [17]:
indonesia_corr_series = indonesia_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(indonesia_corr_series).rename(columns={'dst_students_count': 'indonesia_student_count'}).T)

In [18]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.97,0.0,0.70,0.06,0.95,0.83,-0.92,-7.12e-03,-0.89,0.97,0.0,0.34,0.89,0.96,0.92,0.92,-0.85,0.94,0.94,0.0,0.99,0.67,0.04,0.92,0.90,...,0.9,0.93,0.90,0.90,-0.81,0.94,0.89,0.0,0.96,0.60,0.03,0.86,0.89,-0.92,-0.08,-0.81,0.89,0.0,0.37,0.89,0.86,0.86,0.85,-7.24e-01,0.91
India_student_count,0.69,0.0,0.82,-0.15,0.65,0.57,-0.54,1.11e-01,-0.66,0.71,0.0,0.00,0.00,-0.68,0.68,0.68,0.12,0.59,0.65,0.0,0.99,0.79,-0.18,0.62,0.64,...,0.0,-0.70,0.65,0.66,0.04,0.55,0.61,0.0,0.97,0.74,-0.19,0.60,0.59,-0.51,0.12,-0.58,0.64,0.0,0.00,0.00,-0.71,0.63,0.63,-5.33e-03,0.52
malaysia_student_count,0.50,0.0,0.29,0.19,0.55,0.73,-0.68,8.11e-02,-0.45,0.48,0.0,0.00,0.00,0.71,0.56,0.49,0.13,0.48,0.40,0.0,0.97,0.23,0.29,0.45,0.63,...,0.0,0.64,0.44,0.37,0.22,0.40,0.37,0.0,0.91,0.17,0.48,0.43,0.56,-0.57,0.04,-0.35,0.34,0.0,0.00,0.00,0.65,0.41,0.35,2.02e-01,0.37
indonesia_student_count,0.73,0.0,0.24,0.46,0.74,0.71,-0.76,4.32e-02,-0.66,0.74,0.0,0.00,0.00,0.00,0.69,0.67,0.88,0.76,0.69,0.0,0.99,0.24,0.52,0.69,0.67,...,0.0,0.00,0.63,0.62,0.86,0.71,0.65,0.0,0.97,0.21,0.51,0.65,0.65,-0.72,-0.02,-0.59,0.66,0.0,0.00,0.00,0.00,0.59,0.58,7.93e-01,0.66

## Heatmap

In [19]:
corr_df = corr_df.T
trace = go.Heatmap(z=corr_df.values,
                   x=corr_df.columns.values,
                   y=corr_df.index.values,
                   colorscale='spectral',
                   reversescale=True)

layout = go.Layout(
    title="Correlation Between Predcitors and Student Count for United Kingdom",
    autosize=False,
    width=1000,
    height=1000)

fig = go.Figure(data=trace, layout=layout)
iplot(fig)