In [1]:
import numpy as np
import pandas as pd
pd.options.display.precision = 2
pd.options.display.max_columns = 50

In [2]:
!pwd
import re
import os

/Users/shijunyi/Desktop/学习资料/U of Melbourne/2019 Sem2/Data Science Project/code/python

In [3]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = [15, 10]

In [4]:
#import seaborn as sns
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

# United Kingdom

## Read data

In [5]:
aus_factors_df = pd.read_csv('data/nz_combined_factors.csv')

In [6]:
aus_factors_df

,year,source_country,destination_country,dst_distance,dst_students_count,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment
0,1998,China,New Zealand,11160,78,31643.0,1.87,75.12,0,0,0,5,1241935000,0,0,0,0,800.0,1.03e+12,8.28,5.95
1,1999,China,New Zealand,11160,247,32192.0,1.89,75.04,0,0,0,5,1252735000,0,0,0,0,860.0,1.09e+12,8.28,6.46
2,2000,China,New Zealand,11160,1133,31806.0,2.20,77.00,0,0,0,5,1262645000,0,0,0,4,940.0,1.21e+12,8.28,7.62
3,2001,China,New Zealand,11160,3338,32391.0,2.38,79.02,0,0,0,5,1271850000,0,0,0,5,1010.0,1.34e+12,8.28,9.77
4,2002,China,New Zealand,11160,8481,33005.0,2.16,81.14,0,0,0,5,1280400000,0,0,0,8,1110.0,1.47e+12,8.28,12.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2001,Indonesia,New Zealand,7548,398,32391.0,2.38,79.02,0,0,0,5,214427417,0,0,0,0,720.0,1.60e+11,10260.85,14.19
76,2000,Indonesia,New Zealand,7548,355,31806.0,2.20,77.00,0,0,0,5,211513823,0,0,0,0,580.0,1.65e+11,8421.77,14.88
77,1999,Indonesia,New Zealand,7548,349,32192.0,1.89,75.04,0,0,0,5,208615169,0,0,0,0,570.0,1.40e+11,7855.15,14.75
78,1998,Indonesia,New Zealand,7548,272,31643.0,1.87,75.12,0,0,0,5,205724592,0,0,0,0,660.0,9.54e+10,10013.62,13.36
79,2006,Indonesia,New Zealand,7548,315,36253.0,1.54,89.94,0,0,0,5,229318262,0,0,0,0,1380.0,3.65e+11,9159.32,17.31

## Calculate correlation

### China

In [7]:
china_aus_factors = aus_factors_df[aus_factors_df['source_country']=='China']
cols = china_aus_factors.columns
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(1), rsuffix='_1y_shift')
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [8]:
china_corr_series = china_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = pd.DataFrame(china_corr_series).rename(columns={'dst_students_count': 'china_student_count'}).T

In [9]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.48,0.0,0.53,-0.59,0.43,0.0,0.0,0.11,-0.44,0.52,0.0,0.27,0.4,0.47,0.34,0.32,-0.18,0.51,0.46,0.0,0.84,0.44,-0.35,0.4,0.0,...,0.4,0.44,0.37,0.36,-0.19,0.51,0.36,0.0,0.44,0.25,4.49e-03,0.3,0.0,0.0,0.19,-0.28,0.38,0.0,0.22,0.33,0.32,0.31,0.3,-0.17,0.41

### India

In [10]:
india_aus_factors = aus_factors_df[aus_factors_df['source_country']=='India']
cols = india_aus_factors.columns
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(1), rsuffix='_1y_shift')
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [11]:
india_corr_series = india_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(india_corr_series).rename(columns={'dst_students_count': 'India_student_count'}).T)

In [12]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.48,0.0,0.53,-0.59,0.43,0.0,0.0,0.11,-0.44,0.52,0.0,0.27,0.4,0.47,0.34,0.32,-0.18,0.51,0.46,0.0,0.84,0.44,-0.35,0.40,0.0,...,0.4,0.44,0.37,0.36,-0.19,0.51,0.36,0.0,0.44,0.25,4.49e-03,0.30,0.0,0.0,0.19,-0.28,0.38,0.0,0.22,0.33,0.32,0.31,0.30,-0.17,0.41
India_student_count,0.93,0.0,0.88,-0.60,0.91,0.0,0.0,0.42,-0.59,0.92,0.0,0.00,0.0,-0.83,0.94,0.94,0.89,0.95,0.90,0.0,0.95,0.85,-0.58,0.87,0.0,...,0.0,-0.81,0.92,0.93,0.88,0.91,0.88,0.0,0.87,0.82,-5.74e-01,0.85,0.0,0.0,0.38,-0.36,0.87,0.0,0.00,0.00,-0.81,0.91,0.93,0.86,0.90

### Malaysia

In [13]:
malay_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Malaysia']
cols = malay_aus_factors.columns
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(1), rsuffix='_1y_shift')
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [14]:
malay_corr_series = malay_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(malay_corr_series).rename(columns={'dst_students_count': 'malaysia_student_count'}).T)

In [15]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.48,0.0,0.53,-0.59,0.43,0.0,0.0,0.11,-0.44,0.52,0.0,0.27,0.4,0.47,0.34,0.32,-0.18,0.51,0.46,0.0,0.84,0.44,-0.35,0.40,0.0,...,0.4,0.44,0.37,0.36,-0.19,0.51,0.36,0.0,0.44,0.25,4.49e-03,0.30,0.0,0.0,0.19,-0.28,0.38,0.0,0.22,0.33,0.32,0.31,0.30,-0.17,0.41
India_student_count,0.93,0.0,0.88,-0.60,0.91,0.0,0.0,0.42,-0.59,0.92,0.0,0.00,0.0,-0.83,0.94,0.94,0.89,0.95,0.90,0.0,0.95,0.85,-0.58,0.87,0.0,...,0.0,-0.81,0.92,0.93,0.88,0.91,0.88,0.0,0.87,0.82,-5.74e-01,0.85,0.0,0.0,0.38,-0.36,0.87,0.0,0.00,0.00,-0.81,0.91,0.93,0.86,0.90
malaysia_student_count,0.46,0.0,0.54,-0.57,0.54,0.0,0.0,0.20,0.15,0.48,0.0,0.00,0.0,0.36,0.56,0.57,-0.49,0.42,0.44,0.0,0.83,0.43,-0.42,0.52,0.0,...,0.0,0.38,0.57,0.58,-0.57,0.38,0.44,0.0,0.56,0.33,-2.39e-01,0.51,0.0,0.0,0.24,0.10,0.44,0.0,0.00,0.00,0.46,0.58,0.59,-0.52,0.40

### Indonesia

In [16]:
indonesia_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Indonesia']
cols = indonesia_aus_factors.columns
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(1), rsuffix='_1y_shift')
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [17]:
indonesia_corr_series = indonesia_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(indonesia_corr_series).rename(columns={'dst_students_count': 'indonesia_student_count'}).T)

In [18]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.48,0.0,0.53,-0.59,0.43,0.0,0.0,0.11,-0.44,0.52,0.0,0.27,0.4,0.47,0.34,0.32,-0.18,0.51,0.46,0.0,0.84,0.44,-0.35,0.40,0.0,...,0.4,0.44,0.37,0.36,-0.19,0.51,0.36,0.0,0.44,0.25,4.49e-03,0.30,0.0,0.0,0.19,-0.28,0.38,0.0,0.22,0.33,0.32,0.31,0.30,-0.17,0.41
India_student_count,0.93,0.0,0.88,-0.60,0.91,0.0,0.0,0.42,-0.59,0.92,0.0,0.00,0.0,-0.83,0.94,0.94,0.89,0.95,0.90,0.0,0.95,0.85,-0.58,0.87,0.0,...,0.0,-0.81,0.92,0.93,0.88,0.91,0.88,0.0,0.87,0.82,-5.74e-01,0.85,0.0,0.0,0.38,-0.36,0.87,0.0,0.00,0.00,-0.81,0.91,0.93,0.86,0.90
malaysia_student_count,0.46,0.0,0.54,-0.57,0.54,0.0,0.0,0.20,0.15,0.48,0.0,0.00,0.0,0.36,0.56,0.57,-0.49,0.42,0.44,0.0,0.83,0.43,-0.42,0.52,0.0,...,0.0,0.38,0.57,0.58,-0.57,0.38,0.44,0.0,0.56,0.33,-2.39e-01,0.51,0.0,0.0,0.24,0.10,0.44,0.0,0.00,0.00,0.46,0.58,0.59,-0.52,0.40
indonesia_student_count,0.68,0.0,0.58,-0.23,0.60,0.0,0.0,0.38,-0.62,0.69,0.0,0.00,0.0,0.00,0.61,0.61,0.86,0.74,0.61,0.0,0.91,0.54,-0.19,0.53,0.0,...,0.0,0.00,0.50,0.52,0.83,0.67,0.54,0.0,0.82,0.52,-2.16e-01,0.44,0.0,0.0,0.27,-0.47,0.55,0.0,0.00,0.00,0.00,0.39,0.41,0.74,0.55

## Heatmap

In [19]:
corr_df = corr_df.T
trace = go.Heatmap(z=corr_df.values,
                   x=corr_df.columns.values,
                   y=corr_df.index.values,
                   colorscale='spectral',
                   reversescale=True)

layout = go.Layout(
    title="Correlation Between Predcitors and Student Count for New Zealand",
    autosize=False,
    width=1000,
    height=1000)

fig = go.Figure(data=trace, layout=layout)
iplot(fig)