In [1]:
import numpy as np
import pandas as pd
pd.options.display.precision = 2
pd.options.display.max_columns = 50

In [2]:
!pwd
import re
import os

/Users/shijunyi/Desktop/学习资料/U of Melbourne/2019 Sem2/Data Science Project/code/python

In [3]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = [15, 10]

In [4]:
#import seaborn as sns
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

# United Kingdom

## Read data

In [5]:
aus_factors_df = pd.read_csv('data/canada_combined_factors.csv')

In [6]:
aus_factors_df

,year,source_country,destination_country,dst_distance,dst_students_count,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment
0,2016,China,Canada,9380,60936,47793.0,1.33,110.22,0,4,6,19,1378665000,0,2,12,54,8210.0,1.11e+13,6.64,48.44
1,2015,China,Canada,9380,54660,48979.0,1.28,108.67,0,4,6,20,1371220000,0,0,10,44,7910.0,1.10e+13,6.23,45.35
2,2014,China,Canada,9380,50031,48718.0,1.10,107.46,0,4,7,21,1364270000,0,0,9,44,7500.0,1.04e+13,6.14,41.28
3,2013,China,Canada,9380,42011,48192.0,1.03,105.45,0,4,7,23,1357380000,0,0,7,42,6770.0,9.57e+12,6.20,31.46
4,2012,China,Canada,9380,34602,47276.0,1.00,104.47,0,4,7,22,1350695000,0,0,7,42,5930.0,8.53e+12,6.31,28.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2001,Indonesia,Canada,12878,444,39218.0,1.55,83.96,0,4,8,24,214427417,0,0,0,0,720.0,1.60e+11,10260.85,14.19
72,1998,Indonesia,Canada,12878,384,37289.0,1.48,78.36,0,4,8,25,205724592,0,0,0,0,660.0,9.54e+10,10013.62,13.36
73,1999,Indonesia,Canada,12878,375,37939.0,1.49,79.72,0,4,8,25,208615169,0,0,0,0,570.0,1.40e+11,7855.15,14.75
74,2000,Indonesia,Canada,12878,375,39380.0,1.49,81.89,0,4,8,25,211513823,0,0,0,0,580.0,1.65e+11,8421.77,14.88
75,2006,Indonesia,Canada,12878,336,42908.0,1.13,93.69,0,4,8,22,229318262,0,0,0,0,1380.0,3.65e+11,9159.32,17.31

## Calculate correlation

### China

In [7]:
china_aus_factors = aus_factors_df[aus_factors_df['source_country']=='China']
cols = china_aus_factors.columns
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(1), rsuffix='_1y_shift')
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [8]:
china_corr_series = china_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = pd.DataFrame(china_corr_series).rename(columns={'dst_students_count': 'china_student_count'}).T

In [9]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.95,0.0,0.89,-0.49,0.93,0.0,0.0,-0.66,-0.85,0.93,0.0,0.52,0.96,0.94,0.97,0.96,-0.84,0.99,0.94,0.0,0.99,0.89,-0.45,0.93,0.0,...,0.94,0.94,0.96,0.95,-0.83,0.99,0.94,0.0,0.98,0.87,-0.41,0.93,0.0,0.0,-0.69,-0.86,0.94,0.0,0.58,0.93,0.94,0.94,0.93,-0.82,0.97

### India

In [10]:
india_aus_factors = aus_factors_df[aus_factors_df['source_country']=='India']
cols = india_aus_factors.columns
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(1), rsuffix='_1y_shift')
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [11]:
india_corr_series = india_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(india_corr_series).rename(columns={'dst_students_count': 'India_student_count'}).T)

In [12]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.95,0.0,0.89,-0.49,0.93,0.0,0.0,-0.66,-0.85,0.93,0.0,0.52,0.96,0.94,0.97,0.96,-0.84,0.99,0.94,0.0,0.99,0.89,-0.45,0.93,0.0,...,0.94,0.94,0.96,0.95,-0.83,0.99,0.94,0.0,0.98,0.87,-0.41,0.93,0.0,0.0,-0.69,-0.86,0.94,0.0,0.58,0.93,0.94,0.94,0.93,-0.82,0.97
India_student_count,0.90,0.0,0.85,-0.39,0.88,0.0,0.0,-0.62,-0.78,0.88,0.0,0.00,0.00,-0.79,0.91,0.91,0.94,0.94,0.89,0.0,0.99,0.83,-0.31,0.87,0.0,...,0.00,-0.76,0.89,0.89,0.94,0.93,0.87,0.0,0.98,0.79,-0.20,0.85,0.0,0.0,-0.65,-0.80,0.85,0.0,0.00,0.00,-0.72,0.85,0.86,0.94,0.89

### Malaysia

In [13]:
malay_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Malaysia']
cols = malay_aus_factors.columns
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(1), rsuffix='_1y_shift')
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [14]:
malay_corr_series = malay_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(malay_corr_series).rename(columns={'dst_students_count': 'malaysia_student_count'}).T)

In [15]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.95,0.0,0.89,-0.49,0.93,0.0,0.0,-0.66,-0.85,0.93,0.0,0.52,0.96,0.94,0.97,0.96,-0.84,0.99,0.94,0.0,0.99,0.89,-0.45,0.93,0.0,...,0.94,0.94,0.96,0.95,-0.83,0.99,0.94,0.0,0.98,0.87,-0.41,0.93,0.0,0.0,-0.69,-0.86,0.94,0.0,0.58,0.93,0.94,0.94,0.93,-0.82,0.97
India_student_count,0.90,0.0,0.85,-0.39,0.88,0.0,0.0,-0.62,-0.78,0.88,0.0,0.00,0.00,-0.79,0.91,0.91,0.94,0.94,0.89,0.0,0.99,0.83,-0.31,0.87,0.0,...,0.00,-0.76,0.89,0.89,0.94,0.93,0.87,0.0,0.98,0.79,-0.20,0.85,0.0,0.0,-0.65,-0.80,0.85,0.0,0.00,0.00,-0.72,0.85,0.86,0.94,0.89
malaysia_student_count,0.56,0.0,0.56,-0.20,0.53,0.0,0.0,-0.40,-0.33,0.54,0.0,0.00,0.00,0.70,0.62,0.58,-0.16,0.57,0.54,0.0,0.99,0.55,-0.21,0.51,0.0,...,0.00,0.68,0.58,0.54,-0.09,0.54,0.71,0.0,0.97,0.72,-0.39,0.68,0.0,0.0,-0.43,-0.45,0.69,0.0,0.00,0.00,0.78,0.79,0.75,-0.27,0.68

### Indonesia

In [16]:
indonesia_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Indonesia']
cols = indonesia_aus_factors.columns
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(1), rsuffix='_1y_shift')
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [17]:
indonesia_corr_series = indonesia_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(indonesia_corr_series).rename(columns={'dst_students_count': 'indonesia_student_count'}).T)

In [18]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.95,0.0,0.89,-0.49,0.93,0.0,0.0,-0.66,-0.85,0.93,0.0,0.52,0.96,0.94,0.97,0.96,-0.84,0.99,0.94,0.0,0.99,0.89,-0.45,0.93,0.0,...,0.94,0.94,0.96,0.95,-0.83,0.99,0.94,0.0,0.98,0.87,-0.41,0.93,0.0,0.0,-0.69,-0.86,0.94,0.0,0.58,0.93,0.94,0.94,0.93,-0.82,0.97
India_student_count,0.90,0.0,0.85,-0.39,0.88,0.0,0.0,-0.62,-0.78,0.88,0.0,0.00,0.00,-0.79,0.91,0.91,0.94,0.94,0.89,0.0,0.99,0.83,-0.31,0.87,0.0,...,0.00,-0.76,0.89,0.89,0.94,0.93,0.87,0.0,0.98,0.79,-0.20,0.85,0.0,0.0,-0.65,-0.80,0.85,0.0,0.00,0.00,-0.72,0.85,0.86,0.94,0.89
malaysia_student_count,0.56,0.0,0.56,-0.20,0.53,0.0,0.0,-0.40,-0.33,0.54,0.0,0.00,0.00,0.70,0.62,0.58,-0.16,0.57,0.54,0.0,0.99,0.55,-0.21,0.51,0.0,...,0.00,0.68,0.58,0.54,-0.09,0.54,0.71,0.0,0.97,0.72,-0.39,0.68,0.0,0.0,-0.43,-0.45,0.69,0.0,0.00,0.00,0.78,0.79,0.75,-0.27,0.68
indonesia_student_count,0.78,0.0,0.73,-0.54,0.78,0.0,0.0,-0.66,-0.77,0.77,0.0,0.00,0.00,0.00,0.67,0.66,0.61,0.69,0.84,0.0,0.99,0.81,-0.70,0.85,0.0,...,0.00,0.00,0.71,0.70,0.60,0.71,0.78,0.0,0.98,0.78,-0.63,0.79,0.0,0.0,-0.67,-0.84,0.78,0.0,0.00,0.00,0.00,0.64,0.63,0.60,0.65

## Heatmap

In [19]:
corr_df = corr_df.T
trace = go.Heatmap(z=corr_df.values,
                   x=corr_df.columns.values,
                   y=corr_df.index.values,
                   colorscale='spectral',
                   reversescale=True)

layout = go.Layout(
    title="Correlation Between Predcitors and Student Count for Canada",
    autosize=False,
    width=1000,
    height=1000)

fig = go.Figure(data=trace, layout=layout)
iplot(fig)