In [1]:
import numpy as np
import pandas as pd
pd.options.display.precision = 2
pd.options.display.max_columns = 50

In [2]:
!pwd
import re
import os

/Users/shijunyi/Desktop/学习资料/U of Melbourne/2019 Sem2/Data Science Project/code/python

In [3]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = [15, 10]

In [4]:
#import seaborn as sns
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

# Australia

## Read data

In [5]:
aus_factors_df = pd.read_csv('data/aus_combined_factors.csv')

In [6]:
aus_factors_df

,year,source_country,destination_country,dst_distance,dst_students_count,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment
0,1998,China,Australia,7470,4132,45034.0,1.59,70.16,0,0,4,10,1241935000,0,0,0,0,800.0,1.03e+12,8.28,5.95
1,1999,China,Australia,7470,4578,45564.0,1.55,71.20,0,0,4,11,1252735000,0,0,0,0,860.0,1.09e+12,8.28,6.46
2,2000,China,Australia,7470,5008,45459.0,1.72,74.38,0,0,5,11,1262645000,0,0,0,4,940.0,1.21e+12,8.28,7.62
3,2002,China,Australia,7470,17343,46270.0,1.84,79.97,0,1,5,12,1280400000,0,0,0,8,1110.0,1.47e+12,8.28,12.51
4,2003,China,Australia,7470,23448,46811.0,1.54,82.15,0,1,5,13,1288400000,0,0,0,12,1280.0,1.66e+12,8.28,15.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2002,Indonesia,Australia,3455,13658,46270.0,1.84,79.97,0,1,5,12,217357793,0,0,0,0,790.0,1.96e+11,9311.19,14.81
76,2000,Indonesia,Australia,3455,9934,45459.0,1.72,74.38,0,0,5,11,211513823,0,0,0,0,580.0,1.65e+11,8421.77,14.88
77,1999,Indonesia,Australia,3455,8976,45564.0,1.55,71.20,0,0,4,11,208615169,0,0,0,0,570.0,1.40e+11,7855.15,14.75
78,1998,Indonesia,Australia,3455,7721,45034.0,1.59,70.16,0,0,4,10,205724592,0,0,0,0,660.0,9.54e+10,10013.62,13.36
79,2001,Indonesia,Australia,3455,11790,45953.0,1.93,77.65,0,1,5,12,214427417,0,0,0,0,720.0,1.60e+11,10260.85,14.19

## Calculate correlation

### China

In [7]:
china_aus_factors = aus_factors_df[aus_factors_df['source_country']=='China']
cols = china_aus_factors.columns
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(1), rsuffix='_1y_shift')
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [8]:
china_corr_series = china_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = pd.DataFrame(china_corr_series).rename(columns={'dst_students_count': 'china_student_count'}).T

In [9]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.99,0.0,0.96,-0.72,0.98,0.0,0.96,0.93,0.98,0.98,0.0,0.55,0.88,0.99,0.95,0.96,-0.91,0.93,0.75,0.0,0.72,0.82,-0.67,0.77,0.0,...,0.55,0.73,0.69,0.69,-0.82,0.64,0.72,0.0,0.7,0.77,-0.74,0.73,0.0,0.6,0.69,0.61,0.73,0.0,-0.34,0.46,0.68,0.63,0.66,-0.79,0.58

### India

In [10]:
india_aus_factors = aus_factors_df[aus_factors_df['source_country']=='India']
cols = india_aus_factors.columns
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(1), rsuffix='_1y_shift')
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [11]:
india_corr_series = india_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(india_corr_series).rename(columns={'dst_students_count': 'India_student_count'}).T)

In [12]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.99,0.0,0.96,-0.72,0.98,0.0,0.96,0.93,0.98,0.98,0.0,0.55,0.88,0.99,0.95,0.96,-0.91,0.93,0.75,0.0,0.72,0.82,-0.67,0.77,0.0,...,0.55,0.73,0.69,0.69,-0.82,0.64,0.72,0.0,0.70,0.77,-0.74,0.73,0.0,0.6,0.69,0.61,0.73,0.0,-0.34,0.46,0.68,0.63,0.66,-0.79,0.58
India_student_count,0.80,0.0,0.65,-0.32,0.78,0.0,0.75,0.85,0.82,0.79,0.0,0.00,0.00,-0.60,0.74,0.78,0.72,0.70,0.74,0.0,0.91,0.63,-0.41,0.72,0.0,...,0.00,-0.63,0.72,0.76,0.53,0.63,0.68,0.0,0.67,0.66,-0.60,0.67,0.0,0.7,0.69,0.74,0.69,0.0,0.00,0.00,-0.69,0.70,0.74,0.33,0.59

### Malaysia

In [13]:
malay_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Malaysia']
cols = malay_aus_factors.columns
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(1), rsuffix='_1y_shift')
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [14]:
malay_corr_series = malay_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(malay_corr_series).rename(columns={'dst_students_count': 'malaysia_student_count'}).T)

In [15]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,9.86e-01,0.0,0.96,-0.72,0.98,0.0,0.96,0.93,0.98,0.98,0.0,0.55,0.88,0.99,0.95,0.96,-0.91,0.93,0.75,0.0,0.72,0.82,-0.67,0.77,0.0,...,0.55,0.73,0.69,0.69,-0.82,0.64,0.72,0.0,0.70,0.77,-0.74,0.73,0.0,0.60,0.69,0.61,0.73,0.0,-0.34,0.46,0.68,0.63,0.66,-0.79,0.58
India_student_count,7.98e-01,0.0,0.65,-0.32,0.78,0.0,0.75,0.85,0.82,0.79,0.0,0.00,0.00,-0.60,0.74,0.78,0.72,0.70,0.74,0.0,0.91,0.63,-0.41,0.72,0.0,...,0.00,-0.63,0.72,0.76,0.53,0.63,0.68,0.0,0.67,0.66,-0.60,0.67,0.0,0.70,0.69,0.74,0.69,0.0,0.00,0.00,-0.69,0.70,0.74,0.33,0.59
malaysia_student_count,2.02e-03,0.0,0.07,-0.29,0.02,0.0,-0.01,-0.13,-0.02,0.03,0.0,0.00,0.00,-0.16,0.01,0.03,-0.43,0.09,0.09,0.0,0.49,0.22,-0.55,0.10,0.0,...,0.00,-0.09,0.14,0.18,-0.56,0.15,0.17,0.0,0.07,0.35,-0.56,0.19,0.0,0.24,0.09,0.13,0.20,0.0,0.00,0.00,0.02,0.29,0.31,-0.62,0.07

### Indonesia

In [16]:
indonesia_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Indonesia']
cols = indonesia_aus_factors.columns
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(1), rsuffix='_1y_shift')
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [17]:
indonesia_corr_series = indonesia_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(indonesia_corr_series).rename(columns={'dst_students_count': 'indonesia_student_count'}).T)

In [18]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,9.86e-01,0.0,0.96,-0.72,0.98,0.0,0.96,9.34e-01,0.98,0.98,0.0,0.55,0.88,0.99,0.95,0.96,-0.91,0.93,0.75,0.0,0.72,0.82,-0.67,0.77,0.0,...,0.55,0.73,0.69,0.69,-0.82,0.64,0.72,0.0,0.70,0.77,-0.74,0.73,0.0,0.60,0.69,0.61,0.73,0.0,-0.34,0.46,0.68,0.63,0.66,-0.79,0.58
India_student_count,7.98e-01,0.0,0.65,-0.32,0.78,0.0,0.75,8.46e-01,0.82,0.79,0.0,0.00,0.00,-0.60,0.74,0.78,0.72,0.70,0.74,0.0,0.91,0.63,-0.41,0.72,0.0,...,0.00,-0.63,0.72,0.76,0.53,0.63,0.68,0.0,0.67,0.66,-0.60,0.67,0.0,0.70,0.69,0.74,0.69,0.0,0.00,0.00,-0.69,0.70,0.74,0.33,0.59
malaysia_student_count,2.02e-03,0.0,0.07,-0.29,0.02,0.0,-0.01,-1.26e-01,-0.02,0.03,0.0,0.00,0.00,-0.16,0.01,0.03,-0.43,0.09,0.09,0.0,0.49,0.22,-0.55,0.10,0.0,...,0.00,-0.09,0.14,0.18,-0.56,0.15,0.17,0.0,0.07,0.35,-0.56,0.19,0.0,0.24,0.09,0.13,0.20,0.0,0.00,0.00,0.02,0.29,0.31,-0.62,0.07
indonesia_student_count,-3.54e-02,0.0,-0.16,0.43,-0.04,0.0,-0.05,8.41e-03,-0.04,-0.04,0.0,0.00,0.00,0.00,-0.16,-0.12,0.03,-0.09,-0.13,0.0,0.33,-0.19,0.12,-0.13,0.0,...,0.00,0.00,-0.19,-0.19,-0.03,-0.15,-0.19,0.0,-0.28,-0.15,-0.12,-0.21,0.0,-0.10,-0.14,-0.16,-0.19,0.0,0.00,0.00,0.00,-0.21,-0.23,-0.19,-0.19

## Heatmap

In [19]:
corr_df = corr_df.T
trace = go.Heatmap(z=corr_df.values,
                   x=corr_df.columns.values,
                   y=corr_df.index.values,
                   colorscale='spectral',
                   reversescale=True)

layout = go.Layout(
    title="Correlation Between Predcitors and Student Count for Australia",
    autosize=False,
    width=1000,
    height=1000)

fig = go.Figure(data=trace, layout=layout)
iplot(fig)