In [1]:
import numpy as np
import pandas as pd
pd.options.display.precision = 2
pd.options.display.max_columns = 50

In [2]:
!pwd
import re
import os

/Users/shijunyi/Desktop/学习资料/U of Melbourne/2019 Sem2/Data Science Project/code/python

In [3]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = [15, 10]

In [4]:
#import seaborn as sns
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

# United Kingdom

## Read data

In [5]:
aus_factors_df = pd.read_csv('data/us_combined_factors.csv')

In [6]:
aus_factors_df

,year,source_country,destination_country,dst_distance,dst_students_count,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment
0,2016,China,United States of America,11640,309837,62153.0,1.0,110.07,15,50,71,137,1378665000,0,2,12,54,8210.0,1.11e+13,6.64,48.44
1,2015,China,United States of America,11640,291063,62106.0,1.0,108.70,16,51,78,146,1371220000,0,0,10,44,7910.0,1.10e+13,6.23,45.35
2,2014,China,United States of America,11640,260914,60618.0,1.0,108.57,16,52,77,146,1364270000,0,0,9,44,7500.0,1.04e+13,6.14,41.28
3,2013,China,United States of America,11640,225474,59766.0,1.0,106.83,17,52,85,149,1357380000,0,0,7,42,6770.0,9.57e+12,6.20,31.46
4,2012,China,United States of America,11640,210452,60047.0,1.0,105.29,17,53,85,150,1350695000,0,0,7,42,5930.0,8.53e+12,6.31,28.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,2002,Indonesia,United States of America,14952,11614,54788.0,1.0,82.49,18,56,97,175,217357793,0,0,0,0,790.0,1.96e+11,9311.19,14.81
72,2001,Indonesia,United States of America,14952,10082,54360.0,1.0,81.20,18,56,99,177,214427417,0,0,0,0,720.0,1.60e+11,10260.85,14.19
73,2000,Indonesia,United States of America,14952,10432,53904.0,1.0,78.97,18,56,100,179,211513823,0,0,0,0,580.0,1.65e+11,8421.77,14.88
74,1999,Indonesia,United States of America,14952,11177,53649.0,1.0,76.39,18,57,102,182,208615169,0,0,0,0,570.0,1.40e+11,7855.15,14.75
75,1998,Indonesia,United States of America,14952,11800,53148.0,1.0,74.76,18,57,103,185,205724592,0,0,0,0,660.0,9.54e+10,10013.62,13.36

## Calculate correlation

### China

In [7]:
china_aus_factors = aus_factors_df[aus_factors_df['source_country']=='China']
cols = china_aus_factors.columns
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(1), rsuffix='_1y_shift')
china_aus_factors = china_aus_factors.join(china_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [8]:
china_corr_series = china_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = pd.DataFrame(china_corr_series).rename(columns={'dst_students_count': 'china_student_count'}).T

In [9]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.94,0.0,0.91,0.0,0.91,-0.88,-0.82,-0.92,-0.92,0.92,0.0,0.5,0.97,0.93,0.98,0.98,-0.87,0.98,0.93,0.0,0.99,0.9,0.0,0.9,-0.88,...,0.98,0.92,0.97,0.96,-0.83,0.98,0.92,0.0,0.97,0.89,0.0,0.88,-0.89,-0.75,-0.92,-0.9,0.91,0.0,0.57,0.95,0.9,0.96,0.94,-0.8,0.98

### India

In [10]:
india_aus_factors = aus_factors_df[aus_factors_df['source_country']=='India']
cols = india_aus_factors.columns
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(1), rsuffix='_1y_shift')
india_aus_factors = india_aus_factors.join(india_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [11]:
india_corr_series = india_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(india_corr_series).rename(columns={'dst_students_count': 'India_student_count'}).T)

In [12]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.94,0.0,0.91,0.0,0.91,-0.88,-0.82,-0.92,-0.92,0.92,0.0,0.5,0.97,0.93,0.98,0.98,-0.87,0.98,0.93,0.0,0.99,0.90,0.0,0.90,-0.88,...,0.98,0.92,0.97,0.96,-0.83,0.98,0.92,0.0,0.97,0.89,0.0,0.88,-0.89,-0.75,-0.92,-0.9,0.91,0.0,0.57,0.95,0.90,0.96,0.94,-0.80,0.98
India_student_count,0.93,0.0,0.95,0.0,0.92,-0.88,-0.83,-0.90,-0.94,0.94,0.0,0.0,0.00,-0.73,0.87,0.88,0.64,0.84,0.91,0.0,0.97,0.94,0.0,0.92,-0.83,...,0.00,-0.79,0.86,0.87,0.50,0.80,0.89,0.0,0.93,0.93,0.0,0.90,-0.75,-0.72,-0.80,-0.9,0.91,0.0,0.00,0.00,-0.85,0.87,0.88,0.45,0.78

### Malaysia

In [13]:
malay_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Malaysia']
cols = malay_aus_factors.columns
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(1), rsuffix='_1y_shift')
malay_aus_factors = malay_aus_factors.join(malay_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [14]:
malay_corr_series = malay_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(malay_corr_series).rename(columns={'dst_students_count': 'malaysia_student_count'}).T)

In [15]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.94,0.0,0.91,0.0,0.91,-0.88,-0.82,-0.92,-0.92,0.92,0.0,0.5,0.97,0.93,0.98,0.98,-0.87,0.98,0.93,0.0,0.99,0.90,0.0,0.90,-0.88,...,0.98,0.92,0.97,0.96,-0.83,0.98,0.92,0.0,0.97,0.89,0.0,0.88,-0.89,-0.75,-0.92,-0.90,0.91,0.0,0.57,0.95,0.90,0.96,0.94,-0.80,0.98
India_student_count,0.93,0.0,0.95,0.0,0.92,-0.88,-0.83,-0.90,-0.94,0.94,0.0,0.0,0.00,-0.73,0.87,0.88,0.64,0.84,0.91,0.0,0.97,0.94,0.0,0.92,-0.83,...,0.00,-0.79,0.86,0.87,0.50,0.80,0.89,0.0,0.93,0.93,0.0,0.90,-0.75,-0.72,-0.80,-0.90,0.91,0.0,0.00,0.00,-0.85,0.87,0.88,0.45,0.78
malaysia_student_count,-0.42,0.0,-0.44,0.0,-0.47,0.27,0.37,0.37,0.41,-0.45,0.0,0.0,0.00,0.02,-0.34,-0.39,0.54,-0.37,-0.56,0.0,0.85,-0.59,0.0,-0.60,0.39,...,0.00,-0.16,-0.51,-0.52,0.48,-0.51,-0.67,0.0,0.51,-0.71,0.0,-0.70,0.57,0.47,0.57,0.67,-0.69,0.0,0.00,0.00,-0.36,-0.63,-0.63,0.45,-0.64

### Indonesia

In [16]:
indonesia_aus_factors = aus_factors_df[aus_factors_df['source_country']=='Indonesia']
cols = indonesia_aus_factors.columns
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(1), rsuffix='_1y_shift')
indonesia_aus_factors = indonesia_aus_factors.join(indonesia_aus_factors[cols].shift(2), rsuffix='_2y_shift')

In [17]:
indonesia_corr_series = indonesia_aus_factors.corr().loc['dst_students_count'].fillna(0).drop(['dst_students_count'])
corr_df = corr_df.append(pd.DataFrame(indonesia_corr_series).rename(columns={'dst_students_count': 'indonesia_student_count'}).T)

In [18]:
corr_df

,year,dst_distance,dst_average_wage,dst_rate_of_one_usd,dst_cpi,dst_qoe_top20,dst_qoe_top100,dst_qoe_top200,dst_qoe_top500,src_population,src_qoe_top20,src_qoe_top100,src_qoe_top200,src_qoe_top500,src_gni,src_gdp,src_rate_of_one_usd,src_tertiary_enrolment,year_1y_shift,dst_distance_1y_shift,dst_students_count_1y_shift,dst_average_wage_1y_shift,dst_rate_of_one_usd_1y_shift,dst_cpi_1y_shift,dst_qoe_top20_1y_shift,...,src_qoe_top200_1y_shift,src_qoe_top500_1y_shift,src_gni_1y_shift,src_gdp_1y_shift,src_rate_of_one_usd_1y_shift,src_tertiary_enrolment_1y_shift,year_2y_shift,dst_distance_2y_shift,dst_students_count_2y_shift,dst_average_wage_2y_shift,dst_rate_of_one_usd_2y_shift,dst_cpi_2y_shift,dst_qoe_top20_2y_shift,dst_qoe_top100_2y_shift,dst_qoe_top200_2y_shift,dst_qoe_top500_2y_shift,src_population_2y_shift,src_qoe_top20_2y_shift,src_qoe_top100_2y_shift,src_qoe_top200_2y_shift,src_qoe_top500_2y_shift,src_gni_2y_shift,src_gdp_2y_shift,src_rate_of_one_usd_2y_shift,src_tertiary_enrolment_2y_shift
china_student_count,0.94,0.0,0.91,0.0,0.91,-0.88,-0.82,-0.92,-0.92,0.92,0.0,0.5,0.97,0.93,0.98,0.98,-0.87,0.98,0.93,0.0,0.99,0.90,0.0,0.90,-0.88,...,0.98,0.92,0.97,0.96,-0.83,0.98,0.92,0.0,0.97,0.89,0.0,0.88,-0.89,-0.75,-0.92,-0.90,0.91,0.0,0.57,0.95,0.90,0.96,0.94,-0.80,0.98
India_student_count,0.93,0.0,0.95,0.0,0.92,-0.88,-0.83,-0.90,-0.94,0.94,0.0,0.0,0.00,-0.73,0.87,0.88,0.64,0.84,0.91,0.0,0.97,0.94,0.0,0.92,-0.83,...,0.00,-0.79,0.86,0.87,0.50,0.80,0.89,0.0,0.93,0.93,0.0,0.90,-0.75,-0.72,-0.80,-0.90,0.91,0.0,0.00,0.00,-0.85,0.87,0.88,0.45,0.78
malaysia_student_count,-0.42,0.0,-0.44,0.0,-0.47,0.27,0.37,0.37,0.41,-0.45,0.0,0.0,0.00,0.02,-0.34,-0.39,0.54,-0.37,-0.56,0.0,0.85,-0.59,0.0,-0.60,0.39,...,0.00,-0.16,-0.51,-0.52,0.48,-0.51,-0.67,0.0,0.51,-0.71,0.0,-0.70,0.57,0.47,0.57,0.67,-0.69,0.0,0.00,0.00,-0.36,-0.63,-0.63,0.45,-0.64
indonesia_student_count,-0.72,0.0,-0.74,0.0,-0.77,0.48,0.56,0.60,0.71,-0.71,0.0,0.0,0.00,0.00,-0.69,-0.72,-0.12,-0.63,-0.82,0.0,0.89,-0.82,0.0,-0.87,0.48,...,0.00,0.00,-0.82,-0.82,-0.39,-0.74,-0.90,0.0,0.72,-0.89,0.0,-0.93,0.60,0.45,0.72,0.89,-0.89,0.0,0.00,0.00,0.00,-0.90,-0.90,-0.46,-0.86

## Heatmap

In [19]:
corr_df = corr_df.T
trace = go.Heatmap(z=corr_df.values,
                   x=corr_df.columns.values,
                   y=corr_df.index.values,
                   colorscale='spectral',
                   reversescale=True)

layout = go.Layout(
    title="Correlation Between Predcitors and Student Count for United States",
    autosize=False,
    width=1000,
    height=1000)

fig = go.Figure(data=trace, layout=layout)
iplot(fig)