In [1]:
import pandas as pd
import seaborn as sns

In [3]:
import os
os.chdir('../')

with open('data/Primary_Commodity_Price_System_PCPS.xlsx') as f:
    pd.read_excel(f)

In [27]:
factors_df = pd.read_csv('data/Primary_Commodity_Price_System_PCPS.csv', skiprows=1)

In [30]:
factors_df['year'] = factors_df.Date.apply(lambda x: x.split(' ')[1])
factors_df.head()

,Date,Index,Energy index,Non-Fuel index,Coal index,Natural gas index,APSP crude oil($/bbl),Propane,Industrial Materials index,Food and beverage index,Fertilizer,year
0,Jan 1992,50.726943,45.018531,54.673375,52.242706,54.516020,40.225371,60.870545,52.709161,66.027282,53.415036,1992
1,Feb 1992,50.725432,44.367798,55.120695,52.242706,49.911860,41.089686,61.616826,53.974776,66.254589,53.133171,1992
2,Mar 1992,50.751522,44.026943,55.400467,52.242706,50.533712,41.165326,61.389697,54.009005,67.092883,52.632231,1992
3,Apr 1992,51.177716,46.568196,54.364444,52.242706,51.972758,44.087573,65.640252,55.420763,64.398853,54.112916,1992
4,May 1992,52.638852,48.609634,55.424397,52.242706,54.754973,45.566176,68.041329,55.337380,66.398771,56.535760,1992

In [33]:
yearly_factors = factors_df.groupby('year').mean()

In [26]:
df = pd.read_csv("data/sponsor_data_countrywise_backup.csv").set_index('Country')
df.columns.name = 'year'
df = df.stack()
df.name = 'students_count'
df = df.to_frame().reset_index()
df.to_csv('data/students_counts.csv', index=False)

In [37]:
df.join(yearly_factors, on='year').to_csv('data/training_set.csv')