In [1]:
import os
os.chdir('../../')

In [2]:
import pandas as pd
import re
from google.oauth2 import service_account
from google.cloud import bigquery

In [3]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [4]:
SERVICE_ACCOUNT = 'private/bigquery-write-access.json'
DATASET = 'student_counts'
credentials = service_account.Credentials.from_service_account_file(SERVICE_ACCOUNT)

In [5]:
bqclient = bigquery.Client(project=credentials.project_id, credentials=credentials)

## Read Data

In [6]:
query_string = \
"""
SELECT * 
FROM `int-stud-mobility-drivers.datasets_for_modelling.students_by_year_countrly_all_predictors` 
"""
dataframe = bqclient.query(query_string).result().to_dataframe()

In [7]:
country_codes = {
    "Australia": 'aus', 
    'Canada': 'can', 
    'United Kingdom': 'uk',
    'United States of America': 'us',
    'New Zealand': 'nz'
}
destination_col = 'destination_code'
dataframe[destination_col] = dataframe.destination_country.apply(lambda x: country_codes[x])

In [8]:
#dataframe = dataframe[dataframe.source_country == 'China']
#dataframe = dataframe[dataframe.destination_country == 'Canada']

In [9]:
index_cols = ['source_country', 'year']
dst_cols = [col for col in dataframe.columns if col.startswith('dst')]
src_cols = [col for col in dataframe.columns if col.startswith('src')]

## Transform Destination Country Variables

In [10]:
dest_index = index_cols + [destination_col]
dest_df = dataframe[dest_index + dst_cols].copy()
dest_df.set_index(dest_index, inplace=True)
dest_df.head()

                                      dst_distance  dst_students_count  \
source_country year destination_code
China          2017 aus                       7470              128498
               2016 aus                       7470              112329
               2015 aus                       7470               97387
               2014 aus                       7470               90245
               2011 aus                       7470               90175

                                      dst_average_wage  dst_cost_of_living  \
source_country year destination_code
China          2017 aus                        53507.0               80.66
               2016 aus                        53972.0               78.45
               2015 aus                        53946.0               99.32
               2014 aus                        54392.0              108.51
               2011 aus                        53906.0              107.83

                                      dst_rent_cost_of_liv  dst_rent_index  \
source_country year destination_code
China          2017 aus                              62.39           42.54
               2016 aus                              60.43           40.95
               2015 aus                              74.96           49.47
               2014 aus                              83.95           57.97
               2011 aus                              87.43           51.03

                                      dst_groceries_index  \
source_country year destination_code
China          2017 aus                             76.87
               2016 aus                             74.68
               2015 aus                             94.31
               2014 aus                            105.03
               2011 aus                            112.03

                                      dst_purchasing_power_index  \
source_country year destination_code
China          2017 aus                                   101.94
               2016 aus                                   147.25
               2015 aus                                   110.39
               2014 aus                                   104.20
               2011 aus                                   117.10

                                      dst_resraurant_price_index  \
source_country year destination_code
China          2017 aus                                    77.12
               2016 aus                                    74.85
               2015 aus                                    90.63
               2014 aus                                    97.44
               2011 aus                                    88.67

                                      dst_rate_of_one_usd  dst_qoe_top20  \
source_country year destination_code
China          2017 aus                          1.304758            0.0
               2016 aus                          1.345214            0.0
               2015 aus                          1.331090            0.0
               2014 aus                          1.109363            0.0
               2011 aus                          0.969463            0.0

                                      dst_qoe_top100  dst_qoe_top200  \
source_country year destination_code
China          2017 aus                          6.0            10.0
               2016 aus                          6.0             8.0
               2015 aus                          4.0             8.0
               2014 aus                          4.0             8.0
               2011 aus                          4.0             7.0

                                      dst_qoe_top500
source_country year destination_code
China          2017 aus                         23.0
               2016 aus                         23.0
               2015 aus                         20.0
               2014 aus                         19.0
               2011 aus                         19.0

In [11]:
dest_df = dest_df.unstack(level=destination_col)
dest_df.head()

                    dst_distance                                    \
destination_code             aus     can       nz      uk       us
source_country year
China          1998       7470.0  9380.0  11160.0  7775.0      NaN
               1999       7470.0  9380.0  11160.0  7775.0  11640.0
               2000       7470.0  9380.0  11160.0  7775.0  11640.0
               2001          NaN  9380.0  11160.0  7775.0  11640.0
               2002       7470.0  9380.0  11160.0  7775.0  11640.0

                    dst_students_count                                     \
destination_code                   aus      can      nz       uk       us
source_country year
China          1998             4132.0   2820.0    78.0   2877.0      NaN
               1999             4578.0   3489.0   247.0   4250.0  46949.0
               2000             5008.0   4701.0  1133.0   6158.0  50281.0
               2001                NaN   6972.0  3338.0  10388.0  51986.0
               2002            17343.0  10176.0  8481.0  17483.0  63211.0

                    dst_average_wage                                      \
destination_code                 aus      can       nz       uk       us
source_country year
China          1998              NaN      NaN      NaN      NaN      NaN
               1999              NaN      NaN      NaN      NaN      NaN
               2000          45459.0  39380.0  31806.0  38908.0  53904.0
               2001              NaN  39218.0  32391.0  40840.0  54360.0
               2002          46270.0  38800.0  33005.0  41517.0  54788.0

                    dst_cost_of_living                 dst_rent_cost_of_liv  \
destination_code                   aus can  nz  uk  us                  aus
source_country year
China          1998                NaN NaN NaN NaN NaN                  NaN
               1999                NaN NaN NaN NaN NaN                  NaN
               2000                NaN NaN NaN NaN NaN                  NaN
               2001                NaN NaN NaN NaN NaN                  NaN
               2002                NaN NaN NaN NaN NaN                  NaN

                                    dst_rent_index                  \
destination_code    can  nz  uk  us            aus can  nz  uk  us
source_country year
China          1998 NaN NaN NaN NaN            NaN NaN NaN NaN NaN
               1999 NaN NaN NaN NaN            NaN NaN NaN NaN NaN
               2000 NaN NaN NaN NaN            NaN NaN NaN NaN NaN
               2001 NaN NaN NaN NaN            NaN NaN NaN NaN NaN
               2002 NaN NaN NaN NaN            NaN NaN NaN NaN NaN

                    dst_groceries_index                  \
destination_code                    aus can  nz  uk  us
source_country year
China          1998                 NaN NaN NaN NaN NaN
               1999                 NaN NaN NaN NaN NaN
               2000                 NaN NaN NaN NaN NaN
               2001                 NaN NaN NaN NaN NaN
               2002                 NaN NaN NaN NaN NaN

                    dst_purchasing_power_index                  \
destination_code                           aus can  nz  uk  us
source_country year
China          1998                        NaN NaN NaN NaN NaN
               1999                        NaN NaN NaN NaN NaN
               2000                        NaN NaN NaN NaN NaN
               2001                        NaN NaN NaN NaN NaN
               2002                        NaN NaN NaN NaN NaN

                    dst_resraurant_price_index                  \
destination_code                           aus can  nz  uk  us
source_country year
China          1998                        NaN NaN NaN NaN NaN
               1999                        NaN NaN NaN NaN NaN
               2000                        NaN NaN NaN NaN NaN
               2001                        NaN NaN NaN NaN NaN
               2002                        NaN NaN NaN NaN NaN

                    dst_rate_of_one_usd                                     \
destination_code                    aus       can        nz        uk   us
source_country year
China          1998            1.591828  1.483505  1.868249  0.603824  NaN
               1999            1.549950  1.485705  1.889614  0.618057  1.0
               2000            1.724827  1.485394  2.201149  0.660931  1.0
               2001                 NaN  1.548840  2.378751  0.694655  1.0
               2002            1.840563  1.570343  2.162191  0.667223  1.0

                    dst_qoe_top20                 dst_qoe_top100              \
destination_code              aus can  nz  uk  us            aus can  nz  uk
source_country year
China          1998           NaN NaN NaN NaN NaN            NaN NaN NaN NaN
               1999           NaN NaN NaN NaN NaN            NaN NaN NaN NaN
               2000           NaN NaN NaN NaN NaN            NaN NaN NaN NaN
               2001           NaN NaN NaN NaN NaN            NaN NaN NaN NaN
               2002           NaN NaN NaN NaN NaN            NaN NaN NaN NaN

                        dst_qoe_top200                 dst_qoe_top500          \
destination_code     us            aus can  nz  uk  us            aus can  nz
source_country year
China          1998 NaN            NaN NaN NaN NaN NaN            NaN NaN NaN
               1999 NaN            NaN NaN NaN NaN NaN            NaN NaN NaN
               2000 NaN            NaN NaN NaN NaN NaN            NaN NaN NaN
               2001 NaN            NaN NaN NaN NaN NaN            NaN NaN NaN
               2002 NaN            NaN NaN NaN NaN NaN            NaN NaN NaN


destination_code     uk  us
source_country year
China          1998 NaN NaN
               1999 NaN NaN
               2000 NaN NaN
               2001 NaN NaN
               2002 NaN NaN

In [12]:
dest_df.columns = ['{}_{}'.format(var, code) for var, code in dest_df.columns.values]

In [13]:
dest_df.head()

                     dst_distance_aus  dst_distance_can  dst_distance_nz  \
source_country year
China          1998            7470.0            9380.0          11160.0
               1999            7470.0            9380.0          11160.0
               2000            7470.0            9380.0          11160.0
               2001               NaN            9380.0          11160.0
               2002            7470.0            9380.0          11160.0

                     dst_distance_uk  dst_distance_us  dst_students_count_aus  \
source_country year
China          1998           7775.0              NaN                  4132.0
               1999           7775.0          11640.0                  4578.0
               2000           7775.0          11640.0                  5008.0
               2001           7775.0          11640.0                     NaN
               2002           7775.0          11640.0                 17343.0

                     dst_students_count_can  dst_students_count_nz  \
source_country year
China          1998                  2820.0                   78.0
               1999                  3489.0                  247.0
               2000                  4701.0                 1133.0
               2001                  6972.0                 3338.0
               2002                 10176.0                 8481.0

                     dst_students_count_uk  dst_students_count_us  \
source_country year
China          1998                 2877.0                    NaN
               1999                 4250.0                46949.0
               2000                 6158.0                50281.0
               2001                10388.0                51986.0
               2002                17483.0                63211.0

                     dst_average_wage_aus  dst_average_wage_can  \
source_country year
China          1998                   NaN                   NaN
               1999                   NaN                   NaN
               2000               45459.0               39380.0
               2001                   NaN               39218.0
               2002               46270.0               38800.0

                     dst_average_wage_nz  dst_average_wage_uk  \
source_country year
China          1998                  NaN                  NaN
               1999                  NaN                  NaN
               2000              31806.0              38908.0
               2001              32391.0              40840.0
               2002              33005.0              41517.0

                     dst_average_wage_us  dst_cost_of_living_aus  \
source_country year
China          1998                  NaN                     NaN
               1999                  NaN                     NaN
               2000              53904.0                     NaN
               2001              54360.0                     NaN
               2002              54788.0                     NaN

                     dst_cost_of_living_can  dst_cost_of_living_nz  \
source_country year
China          1998                     NaN                    NaN
               1999                     NaN                    NaN
               2000                     NaN                    NaN
               2001                     NaN                    NaN
               2002                     NaN                    NaN

                     dst_cost_of_living_uk  dst_cost_of_living_us  \
source_country year
China          1998                    NaN                    NaN
               1999                    NaN                    NaN
               2000                    NaN                    NaN
               2001                    NaN                    NaN
               2002                    NaN                    NaN

                     dst_rent_cost_of_liv_aus  dst_rent_cost_of_liv_can  \
source_country year
China          1998                       NaN                       NaN
               1999                       NaN                       NaN
               2000                       NaN                       NaN
               2001                       NaN                       NaN
               2002                       NaN                       NaN

                     dst_rent_cost_of_liv_nz  dst_rent_cost_of_liv_uk  \
source_country year
China          1998                      NaN                      NaN
               1999                      NaN                      NaN
               2000                      NaN                      NaN
               2001                      NaN                      NaN
               2002                      NaN                      NaN

                     dst_rent_cost_of_liv_us  dst_rent_index_aus  \
source_country year
China          1998                      NaN                 NaN
               1999                      NaN                 NaN
               2000                      NaN                 NaN
               2001                      NaN                 NaN
               2002                      NaN                 NaN

                     dst_rent_index_can  dst_rent_index_nz  dst_rent_index_uk  \
source_country year
China          1998                 NaN                NaN                NaN
               1999                 NaN                NaN                NaN
               2000                 NaN                NaN                NaN
               2001                 NaN                NaN                NaN
               2002                 NaN                NaN                NaN

                     dst_rent_index_us  dst_groceries_index_aus  \
source_country year
China          1998                NaN                      NaN
               1999                NaN                      NaN
               2000                NaN                      NaN
               2001                NaN                      NaN
               2002                NaN                      NaN

                     dst_groceries_index_can  dst_groceries_index_nz  \
source_country year
China          1998                      NaN                     NaN
               1999                      NaN                     NaN
               2000                      NaN                     NaN
               2001                      NaN                     NaN
               2002                      NaN                     NaN

                     dst_groceries_index_uk  dst_groceries_index_us  \
source_country year
China          1998                     NaN                     NaN
               1999                     NaN                     NaN
               2000                     NaN                     NaN
               2001                     NaN                     NaN
               2002                     NaN                     NaN

                     dst_purchasing_power_index_aus  \
source_country year
China          1998                             NaN
               1999                             NaN
               2000                             NaN
               2001                             NaN
               2002                             NaN

                     dst_purchasing_power_index_can  \
source_country year
China          1998                             NaN
               1999                             NaN
               2000                             NaN
               2001                             NaN
               2002                             NaN

                     dst_purchasing_power_index_nz  \
source_country year
China          1998                            NaN
               1999                            NaN
               2000                            NaN
               2001                            NaN
               2002                            NaN

                     dst_purchasing_power_index_uk  \
source_country year
China          1998                            NaN
               1999                            NaN
               2000                            NaN
               2001                            NaN
               2002                            NaN

                     dst_purchasing_power_index_us  \
source_country year
China          1998                            NaN
               1999                            NaN
               2000                            NaN
               2001                            NaN
               2002                            NaN

                     dst_resraurant_price_index_aus  \
source_country year
China          1998                             NaN
               1999                             NaN
               2000                             NaN
               2001                             NaN
               2002                             NaN

                     dst_resraurant_price_index_can  \
source_country year
China          1998                             NaN
               1999                             NaN
               2000                             NaN
               2001                             NaN
               2002                             NaN

                     dst_resraurant_price_index_nz  \
source_country year
China          1998                            NaN
               1999                            NaN
               2000                            NaN
               2001                            NaN
               2002                            NaN

                     dst_resraurant_price_index_uk  \
source_country year
China          1998                            NaN
               1999                            NaN
               2000                            NaN
               2001                            NaN
               2002                            NaN

                     dst_resraurant_price_index_us  dst_rate_of_one_usd_aus  \
source_country year
China          1998                            NaN                 1.591828
               1999                            NaN                 1.549950
               2000                            NaN                 1.724827
               2001                            NaN                      NaN
               2002                            NaN                 1.840563

                     dst_rate_of_one_usd_can  dst_rate_of_one_usd_nz  \
source_country year
China          1998                 1.483505                1.868249
               1999                 1.485705                1.889614
               2000                 1.485394                2.201149
               2001                 1.548840                2.378751
               2002                 1.570343                2.162191

                     dst_rate_of_one_usd_uk  dst_rate_of_one_usd_us  \
source_country year
China          1998                0.603824                     NaN
               1999                0.618057                     1.0
               2000                0.660931                     1.0
               2001                0.694655                     1.0
               2002                0.667223                     1.0

                     dst_qoe_top20_aus  dst_qoe_top20_can  dst_qoe_top20_nz  \
source_country year
China          1998                NaN                NaN               NaN
               1999                NaN                NaN               NaN
               2000                NaN                NaN               NaN
               2001                NaN                NaN               NaN
               2002                NaN                NaN               NaN

                     dst_qoe_top20_uk  dst_qoe_top20_us  dst_qoe_top100_aus  \
source_country year
China          1998               NaN               NaN                 NaN
               1999               NaN               NaN                 NaN
               2000               NaN               NaN                 NaN
               2001               NaN               NaN                 NaN
               2002               NaN               NaN                 NaN

                     dst_qoe_top100_can  dst_qoe_top100_nz  dst_qoe_top100_uk  \
source_country year
China          1998                 NaN                NaN                NaN
               1999                 NaN                NaN                NaN
               2000                 NaN                NaN                NaN
               2001                 NaN                NaN                NaN
               2002                 NaN                NaN                NaN

                     dst_qoe_top100_us  dst_qoe_top200_aus  \
source_country year
China          1998                NaN                 NaN
               1999                NaN                 NaN
               2000                NaN                 NaN
               2001                NaN                 NaN
               2002                NaN                 NaN

                     dst_qoe_top200_can  dst_qoe_top200_nz  dst_qoe_top200_uk  \
source_country year
China          1998                 NaN                NaN                NaN
               1999                 NaN                NaN                NaN
               2000                 NaN                NaN                NaN
               2001                 NaN                NaN                NaN
               2002                 NaN                NaN                NaN

                     dst_qoe_top200_us  dst_qoe_top500_aus  \
source_country year
China          1998                NaN                 NaN
               1999                NaN                 NaN
               2000                NaN                 NaN
               2001                NaN                 NaN
               2002                NaN                 NaN

                     dst_qoe_top500_can  dst_qoe_top500_nz  dst_qoe_top500_uk  \
source_country year
China          1998                 NaN                NaN                NaN
               1999                 NaN                NaN                NaN
               2000                 NaN                NaN                NaN
               2001                 NaN                NaN                NaN
               2002                 NaN                NaN                NaN

                     dst_qoe_top500_us
source_country year
China          1998                NaN
               1999                NaN
               2000                NaN
               2001                NaN
               2002                NaN

## Source Country Variables

In [14]:
source_df = dataframe[index_cols + src_cols].copy().drop_duplicates()
source_df.set_index(index_cols, inplace=True)
source_df.head()

                     src_population  src_qoe_top20  src_qoe_top100  \
source_country year
China          2017      1386395000            0.0             2.0
               2016      1378665000            0.0             2.0
               2015      1371220000            0.0             0.0
               2014      1364270000            0.0             0.0
               2011      1344130000            0.0             0.0

                     src_qoe_top200  src_qoe_top500  src_gni       src_gdp  \
source_country year
China          2017            13.0            57.0   8630.0  1.210000e+13
               2016            12.0            54.0   8210.0  1.110000e+13
               2015            10.0            44.0   7910.0  1.100000e+13
               2014             9.0            44.0   7500.0  1.040000e+13
               2011             3.0            35.0   5050.0  7.550000e+12

                     src_rate_of_one_usd  src_tertiary_enrolment
source_country year
China          2017             6.758755               51.006741
               2016             6.644478               48.441051
               2015             6.227489               45.350719
               2014             6.143434               41.277729
               2011             6.461461               25.292101

## Join source and destination predictors

In [15]:
dataset_df = pd.concat([source_df, dest_df], sort=False, axis=1)
dataset_df

                     src_population  src_qoe_top20  src_qoe_top100  \
source_country year
China          1998      1241935000            NaN             NaN
               1999      1252735000            NaN             NaN
               2000      1262645000            NaN             NaN
               2001      1271850000            NaN             NaN
               2002      1280400000            NaN             NaN
               2003      1288400000            NaN             NaN
               2004      1296075000            0.0             0.0
               2005      1303720000            0.0             0.0
               2006      1311020000            0.0             0.0
               2007      1317885000            0.0             0.0
               2008      1324655000            0.0             0.0
               2009      1331260000            0.0             0.0
               2010      1337705000            0.0             0.0
               2011      1344130000            0.0             0.0
               2012      1350695000            0.0             0.0
               2013      1357380000            0.0             0.0
               2014      1364270000            0.0             0.0
               2015      1371220000            0.0             0.0
               2016      1378665000            0.0             2.0
               2017      1386395000            0.0             2.0
India          1998      1019483581            NaN             NaN
               1999      1038058156            NaN             NaN
               2000      1056575549            NaN             NaN
               2001      1075000085            NaN             NaN
               2002      1093317189            NaN             NaN
               2003      1111523144            NaN             NaN
               2004      1129623456            0.0             0.0
               2005      1147609927            0.0             0.0
               2006      1165486291            0.0             0.0
               2007      1183209472            0.0             0.0
               2008      1200669765            0.0             0.0
               2009      1217726215            0.0             0.0
               2010      1234281170            0.0             0.0
               2011      1250288729            0.0             0.0
               2012      1265782790            0.0             0.0
               2013      1280846129            0.0             0.0
               2014      1295604184            0.0             0.0
               2015      1310152403            0.0             0.0
               2016      1324509589            0.0             0.0
               2017      1338658835            0.0             0.0
Indonesia      1998       205724592            NaN             NaN
               1999       208615169            NaN             NaN
               2000       211513823            NaN             NaN
               2001       214427417            NaN             NaN
               2002       217357793            NaN             NaN
               2003       220309469            NaN             NaN
               2004       223285676            NaN             NaN
               2005       226289470            NaN             NaN
               2006       229318262            NaN             NaN
               2007       232374245            NaN             NaN
               2008       235469762            NaN             NaN
               2009       238620563            NaN             NaN
               2010       241834215            NaN             NaN
               2011       245116206            NaN             NaN
               2012       248452413            NaN             NaN
               2013       251806402            NaN             NaN
               2014       255129004            NaN             NaN
               2015       258383256            NaN             NaN
               2016       261554226            NaN             NaN
               2017       264645886            NaN             NaN
Malaysia       1998        22114654            NaN             NaN
               1999        22661298            NaN             NaN
               2000        23194257            NaN             NaN
               2001        23709119            NaN             NaN
               2002        24208391            NaN             NaN
               2003        24698819            NaN             NaN
               2004        25190652            NaN             NaN
               2005        25690611            NaN             NaN
               2006        26201961            NaN             NaN
               2007        26720370            NaN             NaN
               2008        27236006            NaN             NaN
               2009        27735040            NaN             NaN
               2010        28208035            NaN             NaN
               2011        28650955            0.0             0.0
               2012        29068159            0.0             0.0
               2013        29468872            0.0             0.0
               2014        29866559            0.0             0.0
               2015        30270962            0.0             0.0
               2016        30684804            0.0             0.0
               2017        31105028            0.0             0.0

                     src_qoe_top200  src_qoe_top500  src_gni       src_gdp  \
source_country year
China          1998             NaN             NaN    800.0  1.030000e+12
               1999             NaN             NaN    860.0  1.090000e+12
               2000             NaN             NaN    940.0  1.210000e+12
               2001             NaN             NaN   1010.0  1.340000e+12
               2002             NaN             NaN   1110.0  1.470000e+12
               2003             NaN             NaN   1280.0  1.660000e+12
               2004             1.0            16.0   1510.0  1.960000e+12
               2005             2.0            18.0   1760.0  2.290000e+12
               2006             3.0            19.0   2060.0  2.750000e+12
               2007             2.0            25.0   2510.0  3.550000e+12
               2008             1.0            30.0   3100.0  4.590000e+12
               2009             1.0            30.0   3680.0  5.100000e+12
               2010             4.0            34.0   4340.0  6.090000e+12
               2011             3.0            35.0   5050.0  7.550000e+12
               2012             7.0            42.0   5930.0  8.530000e+12
               2013             7.0            42.0   6770.0  9.570000e+12
               2014             9.0            44.0   7500.0  1.040000e+13
               2015            10.0            44.0   7910.0  1.100000e+13
               2016            12.0            54.0   8210.0  1.110000e+13
               2017            13.0            57.0   8630.0  1.210000e+13
India          1998             NaN             NaN    410.0  4.210000e+11
               1999             NaN             NaN    440.0  4.590000e+11
               2000             NaN             NaN    440.0  4.680000e+11
               2001             NaN             NaN    450.0  4.850000e+11
               2002             NaN             NaN    460.0  5.150000e+11
               2003             NaN             NaN    520.0  6.080000e+11
               2004             0.0             3.0    610.0  7.090000e+11
               2005             0.0             3.0    710.0  8.200000e+11
               2006             0.0             2.0    790.0  9.400000e+11
               2007             0.0             2.0    910.0  1.220000e+12
               2008             0.0             2.0   1000.0  1.200000e+12
               2009             0.0             2.0   1120.0  1.340000e+12
               2010             0.0             2.0   1220.0  1.680000e+12
               2011             0.0             1.0   1360.0  1.820000e+12
               2012             0.0             1.0   1480.0  1.830000e+12
               2013             0.0             1.0   1520.0  1.860000e+12
               2014             0.0             1.0   1560.0  2.040000e+12
               2015             0.0             1.0   1600.0  2.100000e+12
               2016             0.0             1.0   1690.0  2.290000e+12
               2017             0.0             1.0   1830.0  2.650000e+12
Indonesia      1998             NaN             NaN    660.0  9.544555e+10
               1999             NaN             NaN    570.0  1.400000e+11
               2000             NaN             NaN    580.0  1.650000e+11
               2001             NaN             NaN    720.0  1.600000e+11
               2002             NaN             NaN    790.0  1.960000e+11
               2003             NaN             NaN    900.0  2.350000e+11
               2004             NaN             NaN   1080.0  2.570000e+11
               2005             NaN             NaN   1220.0  2.860000e+11
               2006             NaN             NaN   1380.0  3.650000e+11
               2007             NaN             NaN   1600.0  4.320000e+11
               2008             NaN             NaN   1940.0  5.100000e+11
               2009             NaN             NaN   2150.0  5.400000e+11
               2010             NaN             NaN   2530.0  7.550000e+11
               2011             NaN             NaN   3010.0  8.930000e+11
               2012             NaN             NaN   3580.0  9.180000e+11
               2013             NaN             NaN   3730.0  9.130000e+11
               2014             NaN             NaN   3620.0  8.910000e+11
               2015             NaN             NaN   3430.0  8.610000e+11
               2016             NaN             NaN   3400.0  9.320000e+11
               2017             NaN             NaN   3530.0  1.020000e+12
Malaysia       1998             NaN             NaN   3640.0  7.216775e+10
               1999             NaN             NaN   3380.0  7.914895e+10
               2000             NaN             NaN   3460.0  9.378974e+10
               2001             NaN             NaN   3550.0  9.278395e+10
               2002             NaN             NaN   3790.0  1.010000e+11
               2003             NaN             NaN   4160.0  1.100000e+11
               2004             NaN             NaN   4740.0  1.250000e+11
               2005             NaN             NaN   5270.0  1.440000e+11
               2006             NaN             NaN   5840.0  1.630000e+11
               2007             NaN             NaN   6630.0  1.940000e+11
               2008             NaN             NaN   7510.0  2.310000e+11
               2009             NaN             NaN   7600.0  2.020000e+11
               2010             NaN             NaN   8260.0  2.550000e+11
               2011             0.0             1.0   9050.0  2.980000e+11
               2012             0.0             1.0  10180.0  3.140000e+11
               2013             0.0             1.0  10840.0  3.230000e+11
               2014             0.0             2.0  11140.0  3.380000e+11
               2015             0.0             2.0  10610.0  2.970000e+11
               2016             0.0             3.0  10030.0  2.970000e+11
               2017             0.0             2.0   9810.0  3.150000e+11

                     src_rate_of_one_usd  src_tertiary_enrolment  \
source_country year
China          1998             8.278958                5.950950
               1999             8.278250                6.456950
               2000             8.278504                7.620930
               2001             8.277068                9.767590
               2002             8.276957               12.506860
               2003             8.277037               15.241530
               2004             8.276801               17.440081
               2005             8.194317               18.849369
               2006             7.973438               20.044500
               2007             7.607532               20.460840
               2008             6.948655               20.672791
               2009             6.831416               22.398729
               2010             6.770269               24.050310
               2011             6.461461               25.292101
               2012             6.312333               28.035191
               2013             6.195758               31.459860
               2014             6.143434               41.277729
               2015             6.227489               45.350719
               2016             6.644478               48.441051
               2017             6.758755               51.006741
India          1998            41.259365                     NaN
               1999            43.055428                     NaN
               2000            44.941605                9.552030
               2001            47.186414                9.740540
               2002            48.610319               10.226010
               2003            46.583284               10.677940
               2004            45.316467               10.987600
               2005            44.099975               10.732480
               2006            45.307008               11.542140
               2007            41.348533               13.190240
               2008            43.505183               15.118990
               2009            48.405267               16.105659
               2010            45.725812               17.914881
               2011            46.670467               22.865280
               2012            53.437233               24.371719
               2013            58.597845               23.894871
               2014            61.029514               25.537350
               2015            64.151944               26.875589
               2016            67.195313               26.928591
               2017            65.121569               27.540310
Indonesia      1998         10013.622500               13.359830
               1999          7855.150000               14.749530
               2000          8421.775000               14.879630
               2001         10260.850000               14.187200
               2002          9311.191667               14.808830
               2003          8577.133333               16.025330
               2004          8938.850000               16.616461
               2005          9704.741667               17.255850
               2006          9159.316667               17.312929
               2007          9141.000000               17.769859
               2008          9698.962500               20.429211
               2009         10389.937500               22.375111
               2010          9090.433333               23.039740
               2011          8770.433333               24.776970
               2012          9386.629167               28.698339
               2013         10461.240000               29.467260
               2014         11865.211300               29.560341
               2015         13389.412940                     NaN
               2016         13308.326800                     NaN
               2017         13380.833880               36.277191
Malaysia       1998             3.924375               21.650230
               1999             3.800000               22.626360
               2000             3.800000               25.631430
               2001             3.800000               25.020130
               2002             3.800000               27.470409
               2003             3.800000               30.636869
               2004             3.800000               30.068729
               2005             3.787092               27.962160
               2006             3.668177               28.513580
               2007             3.437569               30.182699
               2008             3.335833               33.696560
               2009             3.524503               35.792980
               2010             3.221087               37.319679
               2011             3.060003               35.705151
               2012             3.088801               36.327560
               2013             3.150909               36.979649
               2014             3.272860               36.866772
               2015             3.905500               42.373772
               2016             4.148301               44.116692
               2017             4.300441               41.929920

                     dst_distance_aus  dst_distance_can  dst_distance_nz  \
source_country year
China          1998            7470.0            9380.0          11160.0
               1999            7470.0            9380.0          11160.0
               2000            7470.0            9380.0          11160.0
               2001               NaN            9380.0          11160.0
               2002            7470.0            9380.0          11160.0
               2003            7470.0            9380.0          11160.0
               2004            7470.0            9380.0          11160.0
               2005            7470.0            9380.0          11160.0
               2006            7470.0            9380.0              NaN
               2007            7470.0            9380.0          11160.0
               2008            7470.0            9380.0          11160.0
               2009            7470.0            9380.0          11160.0
               2010            7470.0            9380.0          11160.0
               2011            7470.0            9380.0          11160.0
               2012            7470.0            9380.0          11160.0
               2013            7470.0            9380.0          11160.0
               2014            7470.0            9380.0          11160.0
               2015            7470.0            9380.0          11160.0
               2016            7470.0            9380.0          11160.0
               2017            7470.0               NaN          11160.0
India          1998            7809.0           11462.0          11963.0
               1999            7809.0           11462.0          11963.0
               2000            7809.0           11462.0          11963.0
               2001               NaN           11462.0          11963.0
               2002            7809.0           11462.0          11963.0
               2003            7809.0           11462.0          11963.0
               2004            7809.0           11462.0          11963.0
               2005            7809.0           11462.0          11963.0
               2006            7809.0           11462.0              NaN
               2007            7809.0           11462.0          11963.0
               2008            7809.0           11462.0          11963.0
               2009            7809.0           11462.0          11963.0
               2010            7809.0           11462.0          11963.0
               2011            7809.0           11462.0          11963.0
               2012            7809.0           11462.0          11963.0
               2013            7809.0           11462.0          11963.0
               2014            7809.0           11462.0          11963.0
               2015            7809.0           11462.0          11963.0
               2016            7809.0           11462.0          11963.0
               2017            7809.0               NaN          11963.0
Indonesia      1998            3455.0           12878.0           7548.0

In [17]:
table_full_name = '{}.{}'.format('datasets_for_modelling', 'students_by_year_countrly_transformed')
dataset_df.to_gbq(table_full_name, credentials.project_id, credentials=credentials, if_exists='replace')

1it [00:06,  6.34s/it]

In [16]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 80 entries, (China, 1998) to (Malaysia, 2017)
Data columns (total 79 columns):
src_population                    80 non-null int64
src_qoe_top20                     35 non-null float64
src_qoe_top100                    35 non-null float64
src_qoe_top200                    35 non-null float64
src_qoe_top500                    35 non-null float64
src_gni                           80 non-null float64
src_gdp                           80 non-null float64
src_rate_of_one_usd               80 non-null float64
src_tertiary_enrolment            76 non-null float64
dst_distance_aus                  76 non-null float64
dst_distance_can                  76 non-null float64
dst_distance_nz                   76 non-null float64
dst_distance_uk                   76 non-null float64
dst_distance_us                   72 non-null float64
dst_students_count_aus            76 non-null float64
dst_students_count_can            76 non-null float64
dst_students_count_nz             76 non-null float64
dst_students_count_uk             76 non-null float64
dst_students_count_us             72 non-null float64
dst_average_wage_aus              68 non-null float64
dst_average_wage_can              68 non-null float64
dst_average_wage_nz               68 non-null float64
dst_average_wage_uk               68 non-null float64
dst_average_wage_us               68 non-null float64
dst_cost_of_living_aus            36 non-null float64
dst_cost_of_living_can            32 non-null float64
dst_cost_of_living_nz             28 non-null float64
dst_cost_of_living_uk             32 non-null float64
dst_cost_of_living_us             32 non-null float64
dst_rent_cost_of_liv_aus          36 non-null float64
dst_rent_cost_of_liv_can          32 non-null float64
dst_rent_cost_of_liv_nz           28 non-null float64
dst_rent_cost_of_liv_uk           32 non-null float64
dst_rent_cost_of_liv_us           32 non-null float64
dst_rent_index_aus                36 non-null float64
dst_rent_index_can                32 non-null float64
dst_rent_index_nz                 28 non-null float64
dst_rent_index_uk                 32 non-null float64
dst_rent_index_us                 32 non-null float64
dst_groceries_index_aus           36 non-null float64
dst_groceries_index_can           32 non-null float64
dst_groceries_index_nz            28 non-null float64
dst_groceries_index_uk            32 non-null float64
dst_groceries_index_us            32 non-null float64
dst_purchasing_power_index_aus    36 non-null float64
dst_purchasing_power_index_can    32 non-null float64
dst_purchasing_power_index_nz     28 non-null float64
dst_purchasing_power_index_uk     32 non-null float64
dst_purchasing_power_index_us     32 non-null float64
dst_resraurant_price_index_aus    36 non-null float64
dst_resraurant_price_index_can    32 non-null float64
dst_resraurant_price_index_nz     28 non-null float64
dst_resraurant_price_index_uk     32 non-null float64
dst_resraurant_price_index_us     32 non-null float64
dst_rate_of_one_usd_aus           76 non-null float64
dst_rate_of_one_usd_can           76 non-null float64
dst_rate_of_one_usd_nz            76 non-null float64
dst_rate_of_one_usd_uk            76 non-null float64
dst_rate_of_one_usd_us            72 non-null float64
dst_qoe_top20_aus                 56 non-null float64
dst_qoe_top20_can                 52 non-null float64
dst_qoe_top20_nz                  52 non-null float64
dst_qoe_top20_uk                  52 non-null float64
dst_qoe_top20_us                  52 non-null float64
dst_qoe_top100_aus                56 non-null float64
dst_qoe_top100_can                52 non-null float64
dst_qoe_top100_nz                 52 non-null float64
dst_qoe_top100_uk                 52 non-null float64
dst_qoe_top100_us                 52 non-null float64
dst_qoe_top200_aus                56 non-null float64
dst_qoe_top200_can                52 non-null float64
dst_qoe_top200_nz                 52 non-null float64
dst_qoe_top200_uk                 52 non-null float64
dst_qoe_top200_us                 52 non-null float64
dst_qoe_top500_aus                56 non-null float64
dst_qoe_top500_can                52 non-null float64
dst_qoe_top500_nz                 52 non-null float64
dst_qoe_top500_uk                 52 non-null float64
dst_qoe_top500_us                 52 non-null float64
dtypes: float64(78), int64(1)
memory usage: 49.9+ KB